*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
body{
    margin: 0;
    background-color: peachpuff;
  }
html,body
  {
      overflow-x: hidden; 
  }

.row1{
  font-family: "Futura";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: white;
  font-size: 4vh;
  padding: ovh 4vw 0vh 4vw;
}
.logorow1{
  width: 10vw;
  align-items: center;
  justify-content: center;
}

.logorow1 img{
  height: 10vh ;width:auto; margin-top: 2vh;
}
.menurow1{
  width:68vw ;
  display: flex; flex-direction: row;
}
.menurow1 a{
  padding: 0vh 1vw 0vh 1vw;
}

.menurow2{
  display: none;
}
.sayhi{
  width: 7vw
}
.hamburger{
  width:5vw ;
}


.row2{
  font-family: "Futura";
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.row2Text{
  width: 55vw;
  padding: 4vh 0vw 0vh 5vw;
}
.row2Text a{
  font-size:80px;
}

.row2Text a2{
  font-size: 20px;
}

.row2Text k2{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.row2Text c{
  font-size:140px;
}
.row2Text d{
  font-size: 22px;
  margin-top: 8px;
}
.Image{
  width: auto;
}

.row3{
  display: none;
  background-color: white;
}

.sayhi2{
  font-family: "Futura";
  width: 55vw;
  font-size: 35px;
  margin-left: 5vw;
}
.emptyrow3{
  width: 0vw;
}
.hamburger2{
  width: 50vw;
  margin-left: 43vw;
}





.aboutme{
  height: 50vh;
  background-color: cyan;
}

/* Overlay popup1*/

.overlay1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 1s;
  display: flex;
  flex-direction: row;
}

.leftbox{
  font-family: "Bebas Neue";
  width: 50vw;
  background-color: white;
  font-size: 0px;
  line-height: 1.10;
  margin-top: 8vh;
}
.leftbox a{
  font-size: 90px;
  margin-left: 12vw;
  display: inline-block;
  color: #1E626B;
}
.rightbox{
  width: 50vw;
  background-color: white;
  margin-top: 4vh;
}


.postslideshow{
  width: 40vw;
  margin-right: 4vw;
  line-height: 20.5%;
  margin-top: 6vh;
}

.dotssss{
  line-height: 1.2%;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 0.8vw;
}
.dotssss a{
  width: 28vw;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1E626B;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.Image img {
  height: 70vh;
  width:auto;
}


.endbar{
  display: flex;
  flex-direction: row;
  background-color:white;
}
.logo img{
  height: 22vh ;width:auto; margin-top: 8vh;
}
.closebar{
  display: flex;
  flex-direction: column;
  
}
.closebar o button{
  cursor:pointer ;border-radius: 1vh;width: 100%; height: 4vh;
  font-family: futura; background-color: #FF5F5F; color: white;border: none;
}
.mineta {
  margin-top: 8vh;
}
.mineta a2 img {
  width: 8vh;
}
.mineta a1 img {
  width: 8vh;
  margin-right: 2vw;;
}


@media screen and (max-width: 600px) {
  .logorow1{
    width: 50vw;
  }
  .logorow1 img{
    height: 10vh ;width:auto; margin-top: 5vh; margin-left: 10vw;
  }

  .menurow1{
    display: none;
  }

  .menurow2{
    color: #8EF7F2;
    width: 50vh;
    display: flex;
    margin-top: 1vh;
    
    margin-left: 25vw;
  }
  
  .row1 {
    height:10vh;
  }
  .row2 {
    flex-direction: column-reverse;
    height: 75vh;
  }
  .row2Text{
    height: 50vh;
    width: 90vw;
    text-align: center;
  }
  .row2Text a {
    font-size: 35px;
    text-align: center;
  }
  .row2Text k2{
    flex-direction: column;
  }
  .row2Text c{
    font-size: 35px;
  }
  .Image {
    height: 40vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .sayhi{
    display: none;
  }
  .hamburger img{
    display: none;
  }
  .Image img {
    height: 35vh;
    width: auto;
    margin: 2vh 15vw ;
  }
  .row3{
    height: 8vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  .overlay1{
    flex-direction: column;
  }

  .leftbox{
    width: 100%;
    height: 65vh;
    background-color: white;
    margin-top: 25vh;
    margin-bottom: 0%;
  }
  .leftbox a {
    font-size: 96px;
    margin-left: 5vw;
  }

  .rightbox{
    background-color: white;
    height: 55vh;
    width: 100%;
    margin-top: 0%;
  }

  .postslideshow{
    display: none;
  }
  .endbar{
    width: 100%;
    height: auto;
  }
  .logo{
    display: none;
  }
  .mineta{
    display: none;
  }
  .closebar{
    display: flex;
    flex-direction: column;
    width: 100vw;  
    margin-right: 5vw;  
    margin-top: 0%;
  }

  .closebar o button{
    cursor:pointer ;border-radius: 1vh;width: 60vw; height: 3vh;
    font-family: futura; background-color: #FF5F5F; color: white;border: none;margin-left: 5vw;
  }
 
  

}